.kurale {
    font-family: Kurale;
}

.openSans {
    font-family: 'Open Sans', sans-serif;
}

/* SIZE */

.xs {
    font-size: 12px;
    line-height: 18px;
}

.s {
    font-size: 16px;
    line-height: 28px;
}

.m {
    font-size: 18px;
    line-height: 28px;
}

.l {
    font-size: 24px;
    line-height: 28px;
}

.xl {
    font-size: 42px;
    line-height: 48px;
}

.xxl {
    font-size: 72px;
    line-height: 100px;
}

/* COLOR */
.black {
    color: black;
}

.white {
    color: white;
}

.gray {
    color: rgba(51, 51, 51, 0.5);
}

.yellow {
    color: rgba(232, 195, 0, 1);
}
/* BOLD */

.bold {
    font-weight: 700;
}

/* UPPERCASE */

.uppercase {
    text-transform: uppercase;
}