.reset {
    border: none;
    background: none;
    padding: 0;
}

.font {
    color: white;
    font-size: 12px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.button {
    border-radius: 5px;
    width: 100%;
}

.colored {
    background-color: rgba(232, 195, 0, 1);
    padding: 20px 0;
}

.colored:active {
    background-color: white;
    color: rgba(232, 195, 0, 1);
}

.outline {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px 0;
}

.outline:active {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: white;
}